.photo {
    width: 100vw;
}

@media (max-width: 700px) {
    .legenda {
        font-size: 2rem;
    }

    .video {
        width: 350px;
        height: 200px;
        
    }
    .carrosseL{
        width: 350px;
        margin-left: -50px;
    }
  }